@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to our Hardware Store!</h1>
        <img class="unsplash-images" src="http://www.acemcquades.com/files/9514/5496/0717/tools_cropped.jpg" alt="Hardware" />
        
    </div>
